<div class="container" id="blog-cards">
  <div class="row row-cols-1 g-4">
    {{#each blogDataList}}
        <div class='col'>
            <div class='card'>
                <div class='card-body text-left'>
                    <h5 class='card-title'>
                        <span>
                            {{title}}
                            <span class="edit-btn" id="edit-btn" data-id={{id}}>
                                <i class="fas fa-edit" data-id={{id}}></i>
                            </span>
                        </span>
                        <small>
                            <span>Posted by {{userName}} on {{createdAt}}</span>
                        </small>
                    </h5>
                    <p class='card-text'>{{content}}</p>
                </div>
            </div>
        </div>
    {{/each}}
  </div>
</div>
{{#if isLoggedin}}
<div class="addpost-container">
    <button id="add-post" type="button" class="new-post-btn">+ New Post</button>
</div>
{{/if}}

<script src="/js/add-post.js"></script>